header {
    height: 200px;
    width: 80%;
    margin: auto;
    background-color: darkgray;
}

.menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

ul {
    list-style-type: none;
}