body {
    width: 60%;
    margin: auto;
    min-width: 470px;
}

header {
    background: linear-gradient(to top, #fefcea, #f1da36);
    text-align: center;
}

#navbar li:hover ul {
    display: block;
}

#navbar,
#navbar ul {
    margin: auto;
    padding: 0;
    list-style-type: none;
}

#navbar {
    height: 50px;
    background: linear-gradient(to bottom, #fefcea, #f1da36);
    min-width: 470px;
}

#navbar li {
    float: left;
    position: relative;
    height: 100%;
    width: 25%;
}

#navbar ul {
    display: none;
    background-color: rgb(240, 232, 166);
    position: absolute;
    top: 100%;
    width: 100%;
}

#navbar li a {
    display: block;
    padding: 6px;
    width: auto;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
}

#navbar ul li {
    float: none;
    width: auto;
    padding: 3%;
    padding-left: 5%;
}

#navbar li:hover {
    background-color: rgb(231, 219, 105);
    z-index: 2;
}

#navbar ul li:hover {
    background-color: rgba(82, 83, 14, 0.075);
    cursor: pointer;
}

form {
    margin-top: 20px;
}

form legend {
    font-size: 20px;
    font-weight: bold;
}

form label {
    font-weight: bold;
}

.contact {
    background: linear-gradient(to bottom, #fefcea, #f1da36);
}

.button,
div.iframe,
input[type="checkbox"],
input[type="text1"] {
    display: none;
}

.st {
    padding: 0 20px 0 20px;
    cursor: pointer;
    color: rgb(0, 0, 0);
}

#go:checked+button.button {
    display: block;
}

.td {
    font-weight: bold;
}

.text {
    font-weight: normal;
}

input[name="as"]:checked~div.iframe {
    display: block;
}

.adress {
    position: relative;
}

.iframe {
    position: absolute;
    right: -100px;
}

input[name="ax"]:checked~input[type="text1"] {
    display: block;
}